<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743947341718-3tfv4838m33ohqhir2a7voou9qis9pbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743947341718-3tfv4838m33ohqhir2a7voou9qis9pbs</string>
	<key>API_KEY</key>
	<string>AIzaSyARr2PtMGly0danPAtDjH_RgxlUAPf72ZY</string>
	<key>GCM_SENDER_ID</key>
	<string>743947341718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kim.App2</string>
	<key>PROJECT_ID</key>
	<string>knivon-app</string>
	<key>STORAGE_BUCKET</key>
	<string>knivon-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743947341718:ios:eaf3fc5b7db3ebb51257b7</string>
</dict>
</plist>